<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <title>添加</title>
    <style>
        .my-class{
            width:300px;
            height:160px;
            /*position:relative;*/
            left:50%;
            top:50%;
            margin-left:750px;
            margin-top:80px;

        }
        .my-class-right{
            float: right;
        }
    </style>
</head>
<body>

<form class="layui-form my-class" action="/add"  method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">品牌</label>
        <div class="layui-input-block">
            <input type="text" name="brand" lay-verify="title" autocomplete="off" placeholder="请输入品牌" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-block">
            <input type="text" name="price" lay-verify="title" autocomplete="off" placeholder="请输入价格" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产地</label>
        <div class="layui-input-block">
            <input type="text" name="place" lay-verify="title" autocomplete="off" placeholder="请输入产地" class="layui-input">
        </div>
    </div>

    <button class="layui-btn my-class-right" type="submit" > 添加</button>
</form>
</body>
</html>